
  


<% if user_signed_in? %>

<% if current_user.pins.first.blank? %>
  Por favor, pre-enche seu perfil
  <%= link_to 'Edite perfil', edit_pin_path(@pin), class: "btn btn-primary", style: "float:right" %>

<% else %>

    <% current_user.pins.each do |pin| %>

  <div class="panel panel-default">
<div class="panel-body">
<table>
  <tbody>

      <tr><%= @pin.description %><hr></tr>
        <tr><%= @pin.website %><hr></tr>
        <tr><%= @pin.phone %><hr></tr>
        <tr><%= @pin.address %><hr></tr>
        <tr><%= @pin.employees %><hr></tr>
        <tr><%= @pin.location %><hr></tr>

  </tbody>
</table>
</div>
</div>

<% end %>
<% end %>
<% end %>