<h1>Listing pins</h1>


  <div class="panel-heading">
Profile details
  </div>
  
<div class="panel panel-default">
<div class="panel-body">
<table>


<% if user_signed_in? %>
  <tbody>

    <% @pins.each do |pin| %>
      <tr><%= pin.description %><hr></tr>
        <tr><%= pin.employees %><hr></tr>
        <tr><%= pin.funding %><hr></tr>
        <tr><%= pin.location %><hr></tr>
        <tr><%= pin.vision %><hr></tr>
        <tr><%= pin.website %><hr></tr>
        <tr><%= pin.phone %><hr></tr>
        <tr><%= pin.address %><hr></tr>


    <% end %>
  </tbody>
</table>



  </div>
</div>

<br>

<% end %>