<h1>Listing pins</h1>



  


<% if user_signed_in? %>
    <% @pins.each do |pin| %>
    <% if pin.user = current_user %>
<%= link_to 'Edit', edit_pin_path(pin) %>
  
  <div class="panel panel-default">
<div class="panel-body">
<table>
  <tbody>
      <tr><%= pin.description %><hr></tr>
        <tr><%= pin.employees %><hr></tr>
        <tr><%= pin.funding %><hr></tr>
        <tr><%= pin.location %><hr></tr>
        <tr><%= pin.vision %><hr></tr>
        <tr><%= pin.website %><hr></tr>
        <tr><%= pin.phone %><hr></tr>
        <tr><%= pin.address %><hr></tr>

<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
    <% end %>
  </tbody>
</table>



  </div>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path %>
<% end %>
<% end %>