<p id="notice"><%= notice %></p>

<h1>
Update your Profile  <%= link_to 'Update details', edit_pin_path(@pin), class: "btn btn-primary", style: "float:right" %>
  </h1>




  
<div class="panel panel-default">
<div class="panel-body">
<table>


<% if user_signed_in? %>

  <tbody>

      <tr><%= @pin.description %><hr></tr>
        <tr><%= @pin.employees %><hr></tr>
        <tr><%= @pin.funding %><hr></tr>
        <tr><%= @pin.location %><hr></tr>
        <tr><%= @pin.vision %><hr></tr>
        <tr><%= @pin.website %><hr></tr>
        <tr><%= @pin.phone %><hr></tr>
        <tr><%= @pin.address %><hr></tr>



  </tbody>
</table>



  </div>
</div>
        <% end %>




