<div class="panel panel-default title">
<div class="panel-body">


<h4>Obrigado pelo interesse - um representante de nossa empresa entrará em contato com você em breve. Se tiver qualquer dúvida, entre em contato conosco (veja o link acima)</h4>

</div>

</div>


  
<div class="panel panel-default">
<div class="panel-body">


<% if user_signed_in? %>
<table>
  <tbody>

      <tr><%= @pin.description %><hr></tr>
        <tr><%= @pin.website %><hr></tr>
        <tr><%= @pin.phone %><hr></tr>
        <tr><%= @pin.address %><hr></tr>
        <tr><%= @pin.employees %><hr></tr>
        <tr><%= @pin.location %><hr></tr>

  </tbody>
</table>

  </div>
</div>

<% end %>


<%= link_to 'Editar perfil', edit_pin_path(@pin), class: "btn btn-primary" %>



